---
version: "3.8"
services:
  plex:
    image: plexinc/pms-docker:latest #linuxserver/plex #lscr.io/linuxserver/plex:latest #plexinc/pms-docker:plexpass #plexinc/pms-docker:latest
    container_name: plex
    networks:
      - frontend 
    labels:
      - "traefik.enable=true"
      # Define a router for Plex
      - "traefik.http.routers.plex-https.rule=Host(`plex.dajays.com`)" # Replace with your subdomain
      - "traefik.http.routers.plex-https.entrypoints=websecure" # Use websecure for HTTPS
      # If using Let's Encrypt with Traefik, uncomment these:
      - "traefik.http.routers.plex-hppts.tls=true"
      # Specify the internal port Plex is listening on
      - "traefik.http.services.plex-https.loadbalancer.server.port=32400"  
      - "traefik.http.routers.plex-https.tls.certresolver=cloudflare"      
    environment:
      - PUID=0
      - PGID=0
      - TZ=Pacific/Honolulu
      - PLEX_CLAIM=${PLEX_CLAIM}
      - HOSTNAME="plex"
    ports:
      - 32400:32400   
    volumes:
      - config:/config
      - tv:/tv
      - movies:/movies  
    restart: unless-stopped

volumes:
  config:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/docker/plex/config"
  tv:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/entertainment/tv" 
  movies:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/entertainment/movies"       

networks:
  frontend:
    external: true
    name: frontend  
